.agi_popup{
    display: none;
    background: #000; /* фон */
    bottom: 0;  /* координата снизу */
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* прозрачность для IE */
    height: 100%; /* высота на всю страницу */
    opacity: 0.5;  /* прозрачность слоя */
    position: fixed; /* фиксируем элемент на странице*/
    top: 0; /* координата сверху */
    width: 100%; /* ширина на всю страницу */
    z-index: 9997; /* z-index для перекрытия остальных элементов */
}
.agi_window,.agi_window_thmb{
    display:none;
    opacity: 1;
    background: #ffffff; /* фон */
    height: 80%; /* высота на всю страницу */
    position: fixed; /* фиксируем элемент на странице*/
    top: 6%; /* координата сверху */
    left:10%;
    width: 80%; /* ширина на всю страницу */
    z-index: 9998; /* z-index для перекрытия остальных элементов */
    padding: 35px;
}
.agi_preview{
    opacity: 1;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #000000;
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
    overflow: hidden;
}
.agi_preview:before{
    content: '';
    background: url(/wp-content/plugins/f-seo-auto-google-images/img/cross4.png) 0 0 no-repeat;
    width: 48px;
    height: 48px;
    display: inline-block;
    position: absolute;
    left: 95%;
    top: 7%;
    cursor: pointer;
}
.agi_preview img{
    display: block;
    margin: auto;
    max-width: 99%;
    max-height: 99%;
}
a.img_btn,a.thmb_btn{
    display: inline-block;
    color: #e95f5f!important;
    font-weight: 800;
    font-size: 31px!important;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
}
a.img_btn span,a.thmb_btn span{
    font-size: 18px;
    padding-bottom: 0;
    display: inline-block;
    box-sizing: border-box;
}
a.thmb_btn span,a.thmb_btn{
    color:#0085ba!important;
}
#agi_search{
    display: block;
    margin-bottom: 20px;
}
.srch_btn{
    display: inline-block;
    background: #ccc;
    width: 60px;
    height: 45px;
    text-align: center;
    line-height: 48px;
    font-weight: 700;
    cursor: pointer;
}
.agi_srch_txt{
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
    width: 71%;
}
.agi_srch_txt::-webkit-input-placeholder{
    font-style: italic;
}
.agi_srch_txt:-moz-placeholder{
    font-style: italic;
}
.founded_img:hover{
    border: 3px solid #cccccc;
}
.founded_img{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 160px;
    height: 215px;
    box-sizing: border-box;
    overflow: hidden;
    border: 3px solid transparent;
    position: relative;
}
.founded_img a{
    box-sizing: border-box;
    overflow: hidden;
    width: 120px;
    height: 120px;
    display: block;
}
.founded_img a img{
    max-width: 120px;
    max-height: 120px;
}
.agi_results{
    box-sizing: border-box;
    width: 70%;
    overflow: hidden;
    display: block;
    float: right;
    height: 93%;
    overflow-y: scroll;
    position: relative;
}
.popap_cross{
    position: fixed;
    cursor: pointer;
    top: 35px;
    right: 1%;
    width: 48px;
    height: 48px;
    background: url("/wp-content/plugins/f-seo-auto-google-images/img/cross4.png") 0 0 no-repeat;
}
.agi_param{
    clear: both;
    display: block;
    width: 90%;
    border-right: 1px solid #ccc;
}
.agi_param select{
    display: block;
    width: 97%;
    border: none;
    margin-bottom: 10px;
}
.afi_win_left{
    clear: both;
    display: block;
    width: 30%;
    float: left;
}
.agi_img_add,.agi_add_all_marked{
    margin-top: 5px;
    display: block;
    background: #00a0d2;
    border-color: #0073aa;
    color: #fff;
    float: left;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    text-align: center;
    margin-right: 5px;
    width: 45px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.agi_img_add:nth-child(3n+1){
    clear: both;
}

.yellow_btn{
    background: #5bbf60;
    border-color: #5bbf60;
}
.create_thmb_btn{
    background: #5bbf60;
    padding: 3px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}
.numpage{
    color: #0073aa;
    font-size: 18px;
    float: left;
    display: inline-block;
    width: 20%;
    margin-top: 20px;
}
.agi_add_all_marked{
    float: none;
    width: 200px;
    margin-top: 50px;
}
.agi_img_mark{
    position: absolute;
    display: none;
    width: 40px;
    height: 20px;
    bottom: 0;
    left: 0;
    cursor: pointer;
    color: #0073aa;
}
.founded_img:hover .agi_img_mark{
    display: block;
}
.imgs_onsite{
    margin-bottom: 10px;
    margin-top: 20px;
    display: block;
}
.load_img{
    color: #000000;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 130px;
    display: block;

}
.agi_img_res{
    text-decoration: none;
}
.pages{
    color: #0073aa;
    cursor: pointer;
    display: inline-block;
    width: 20%;
    font-size: 25px;
    float: left;
    margin-top: 20px;
}
.prev_p{
    margin-left: 39%;
}
.btns_instruct{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    box-sizing: border-box;
    padding: 5px;
    background: #e95f5f;
    color: #ffffff;
}
.clear{
    clear: both;
}
.d_block{
    display: block;
    margin-bottom: 15px;
}
label.d_block{
    margin-bottom: 5px;
}
